body {
  display: block;
  margin: 50px 0;
  font-family: "Josefin Sans", sans-serif;
  background-image: linear-gradient(
    to top,
    #1b004c,
    #190442,
    #170737,
    #16082d,
    #140922,
    #0f0c20,
    #0c0e1c,
    #0b0f18,
    #08131a,
    #07161a,
    #07181a,
    #0a1a19
  );
}

.card-img {
  opacity: 30%;
}
.first,
.second {
  background-color: #02080f;
  display: block;
  margin: 0 auto;
  width: 600px;
  border: none;
  box-shadow: rgb(240 46 170 / 40%) 0px 0px 0px 5px,
    rgb(240 46 170 / 30%) 5px 4px, rgb(240 46 170 / 20%) 10px 10px,
    rgb(240 46 170 / 10%) 15px 15px, rgb(240 46 170 / 5%) 20px 20px;
}

.first {
  position: relative;
}
.card-header {
  font-size: 14px;
  background-color: #141e2c;
  color: #fff;
}

.main-weather-picture {
  position: absolute;
  width: 235px;
  top: 54px;
  right: 235px;
  filter: drop-shadow(2px 2px 10px rgb(128, 123, 123));
}

h1 {
  position: absolute;
  top: 149px;
  right: 63px;
  font-size: 143px;
  color: #9f63c7;
  text-shadow: 0.04em 0 rgb(0, 0, 0), -0.04em 0 #000, 0 0.04em #000,
    0 -0.04em #000;
}

.change-value-of-t {
  top: 94px;
  right: 100px;
  font-size: 67px;
  color: #ff8400;
  text-shadow: 0.04em 0 rgb(0, 0, 0), -0.04em 0 #000, 0 0.04em #000,
    0 -0.04em #000;
  background: fixed;
  border: 0;
  padding: 0;
}

h3 {
  height: 50px;
  color: #b28ae3;
  display: block;
  text-align: left;
  margin: 3px 12px 8px;
  font-size: 52px;
  text-shadow: 0.04em 0 rgb(0 0 0), -0.04em 0 #000, 0 0.04em #000,
    0 -0.04em #000;
}

h6 {
  width: 75px;
  height: 25px;
  text-align: left;
  margin: 12px 22px 15px;
  color: #b28ae3;
  position: absolute;
  top: 65px;
  left: 6px;
  text-shadow: 0.04em 0 rgb(0 0 0), -0.04em 0 #000, 0 0.04em #000,
    0 -0.04em #000;
}

.date {
  width: 97px;
  position: absolute;
  top: 71px;
}
.time {
  width: 80px;
  position: absolute;
  top: 71px;
  left: 93px;
}

.current-precipitation {
  position: absolute;
  top: 98px;
  left: 6px;
}
.search-line {
  border-radius: 59px;
  text-align: left;
  position: absolute;
  top: 10px;
  right: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.search-button {
  position: absolute;
  top: 10px;
  right: 20px;
  border-radius: 59px;
  background-color: #c8de68;
}

.card-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: none;
  border-top: none;
}

.weather-pressure,
.weather-visibility,
.weather-wind {
  display: block;
  text-align: center;
  margin: 10px 24px;
  padding: 24px 9px 19px;
  border-radius: 30px;
  line-height: 0.1;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.weather-pressure {
  background: #27364e;
}

.weather-visibility {
  background: #b28ae3;
  color: #1a2740;
}

.weather-wind {
  background: #cbd6ff;
  color: #1a2740;
}

h5,
.weather-pressure,
.weather-visibility,
.weather-wind {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
h4 {
  margin-bottom: 0;
}

.week-temperature {
  text-align: center;
  line-height: 1.8;
  padding: 20px;
}
h5 {
  margin: 0 auto;
  color: #1a2740;
  width: 80%;
  border-radius: 59px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  transition: all 170ms ease-in-out;
}

h5:hover {
  background-color: #b28ae3;
}

.week-date {
  font-family: "Josefin Sans", sans-serif;
  color: #ff8400;
}

.week-weather-icon {
  width: 68px;
  filter: drop-shadow(2px 2px 29px rgb(128, 123, 123));
}
.open-source-code {
  color: #ff8400;
  font-size: 17px;
  line-height: 4;
  text-align: center;
}
